.contacts-nav {
    display: flex;
    align-items: center;
    color: $main-text-color;

&__item:not(:last-of-type) {
    margin-left: 295px;
    margin-right: 30px;
}   


&__icon {
    margin-right: 10px;
    fill: currentColor;
}
}

.contacts-nav__link {
    display: flex;
    align-items: center;
    
    color: $main-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


&__link:hover,
&__link:focus {
    color: $accent-color;
}
}