.contacts-nav {
       color: $main-text-color;

    @media screen and (min-width: 768px) {
        margin-left: 84px;

      &__item:not(:last-child) {
        margin-bottom: 10px;
      }
    }  

    @media screen and (min-width: 1200px) {
        display: flex;
      
    }

&__icon {

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
         margin-right: 8px;
         fill: currentColor;
    }

    @media screen and (min-width: 1200px) {
     margin-right: 10px;
     fill: currentColor;
    }
    
}
}


.contacts-nav__item:not(:last-of-type) {

    @media screen and (min-width: 1200px) {
       margin-left: 295px;
       margin-right: 30px;
     }
}   



.contacts-nav__link {  
    color: $main-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    @media screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;

    &--font-size{
        font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
    }
}

    @media screen and (min-width: 768px) {
        font-size: 12px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 1.1;
    }

&:hover,
&:focus {
    color: $accent-color;
}
}