.menu-button { 
    display: inline-flex;
    padding: 0;
    margin: 0;
    border: none;

    background-color: transparent;
    font-family: inherit;
    font-size: 0;
    cursor: pointer;


& .icon-close {
    display: none;
  
}
&.is-open .icon-close {
    display: block;
}
&.is-open .icon-menu {
    display: none;
}
} 


.page-header {
    position: relative;
}
.menu-container {
    display: none;

    position:absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 48px 40px;

    background-color: $secondary-text-color;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04),
     0px 2px 4px rgba(0, 0, 0, 0.08),
     0px 1px 3px rgba(0, 0, 0, 0.16);

    &.is-open {
        display: block;
    } 
}