body {
    background-color: $background-color;
    font-family: $font-family;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
    // padding-top: 94px;
    // padding-bottom: 94px;


 &__title {
    margin-top: 0;
    margin-bottom: 30px;
    // margin-bottom: 50px;

    color: $title-color;

    font-weight: 700;
    font-size: 28px;
    // font-size: 36px;
    line-height: 1.16;
    text-align: center;
 }

}
.activity {
    padding-top: 0;
}