$secondary-background-color: #F5F4FA;
$main-text-color: #757575;
$secondary-text-color: #FFFFFF;
$title-color: #212121;
$accent-color: #2196F3;
$icon-color: #AFB1B8;
$footer-background-color: #2F303A;
$footer-color:rgba(255, 255, 255, 0.6); 
$background-color: #FFFFFF;
$font-family: 'Roboto', sans-serif;
$hero-background-gradient: linear-gradient(
    to right,
   rgba(47, 48, 58, 0.4),
   rgba(47, 48, 58, 0.4)
),
url("../images/Hero_bg_img.jpg");
    